.container {
    height: 100%;
}

.cover{
    
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    z-index: 0;
    @media screen and (max-width: 1126px) {
        height: 100vh;
      }
}

.div_background{
    display:grid;
    align-items: center;
}

.divider{
    box-shadow: 0 1px 5px black;
    height: 20px;
    background-color: rgba(0, 4, 98, 1);
}

.itemsCover {
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 25;
    @media screen and (max-width: 980px) {
        text-align: center;
      }
}

.containerItems{
    justify-content: center;
    align-items: center;
    display: grid;
    height: 100%;
    width: 350px;
    padding: 40px;
    border-radius: 55px;
    box-shadow: 0 0 5px gray;
    background-color: white;
    @media screen and (max-width: 1126px) {
        width: 100%;
        padding: 0px;
    }
}

.itemsDiv {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    align-items: center;
    text-align: left;
    width: 200px;
    height: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(234, 234, 234, 1);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    padding-left: 1rem;
    margin-right: -0.3rem;
    z-index: 6;
    @media screen and (max-width: 1126px) {
        max-width: 100%;
    
        
      }
}

.text2 {
    align-items: center;
    text-align: left;
    width: 200px;
    height: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(234, 234, 234, 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    padding-left: 1rem;
    margin-left: -0.5rem;
    z-index: 6;
}

.img {
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px gray;
    border-radius: 27px;
    width: 80px;
    height: 80px;
    //background-color: rgba(0, 230, 118, 1);
    display: flex;
    z-index: 5;
}

.img2 {
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px gray;
    border-radius: 27px;
    width: 74px;
    height: 74px;
    background-color: whitesmoke;
    display: flex;
    z-index: 10;
}


.video{
    object-fit: cover;   
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: -1;
}

.dividerZahlungArt {
    display: flex;
    justify-content: space-between;
    color: white;
}

.img_zahlung {
    
    width:80px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;

}
.img_zahlung2 {
    width:80px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Title {
    color: white;
    margin-bottom: 20px;
}

.ferien {
    font-size: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    
}

.ferientext {
    display: flex;
    height: 300px;
    width: 400px;
    border-radius:  20px;
    box-shadow: 0 5px 10px rgb(179, 179, 179);
    justify-content: center;
    align-items: center;
}