.container {
  height: 100%;
}

.cover {
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

@media screen and (max-width: 1126px) {
  .cover {
    height: 100vh;
  }
}

.div_background {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divider {
  -webkit-box-shadow: 0 1px 5px black;
          box-shadow: 0 1px 5px black;
  height: 20px;
  background-color: #000462;
}

.itemsCover {
  padding: 20px;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 25;
}

@media screen and (max-width: 980px) {
  .itemsCover {
    text-align: center;
  }
}

.containerItems {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 350px;
  padding: 40px;
  border-radius: 55px;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  background-color: white;
}

@media screen and (max-width: 1126px) {
  .containerItems {
    width: 100%;
    padding: 0px;
  }
}

.itemsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 200px;
  height: 55px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: #eaeaea;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
  margin-right: -0.3rem;
  z-index: 6;
}

@media screen and (max-width: 1126px) {
  .text {
    max-width: 100%;
  }
}

.text2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 200px;
  height: 55px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: #eaeaea;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
  margin-left: -0.5rem;
  z-index: 6;
}

.img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  border-radius: 27px;
  width: 80px;
  height: 80px;
  background-color: #00e676;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.img2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  border-radius: 27px;
  width: 74px;
  height: 74px;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: -1;
}
/*# sourceMappingURL=Banner.module.css.map */