.navBar {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #142040;
  height: 45px;
}
.navbar_x {
  display: flex;
  background-color: #142040;
  align-items: center;
  justify-content: space-around;
  @media only screen and (max-width: 980px) {
    top: 20px;
    left: 45%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 60px;
    border-radius: 20px;
  }
 
}

.icon_menu_bar {
  
  display: flex;
  align-items: center;
  @media only screen and (max-width: 980px) {
    display: none;
  }
}

.BarBox {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-left: 50px;
  @media only screen and (max-width: 980px) {
    display: none;
  }
}

.BarBox:hover {
  color: yellow;
}

.phoneMenu {
  color: white;
  display: none;
  @media only screen and (max-width: 980px) {
    display: flex;
  }
}

.titleHead_ {
  font-size: 18px;
}

.selected {
  color: yellow;
}

.active{
  color: yellow;
}

.iconMenuHamburg_ {
  color: rgb(255, 255, 255);
}

.menuPhone {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: black;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
  z-index: 50;
}

.MenuHambDiv_ {
  width: 100vh;
  height: 100vh;
}

.close_div {
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
  border-radius: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color : white;
}