.StickyContakt {

    display: grid;
    position: absolute;
    font-size: 50px;
}

.h1text{
  color: white;
}

.selected {
    color: yellow;
  }
  
  .active{
    color: yellow;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  
  .title {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 4rem;
    margin: 0;
    color:  rgba(0, 4, 98, 1);
  }

  @media screen and (max-width: 980px) {
    .title {
      font-size: 2rem;
      text-align:  center;
    }
  }
  
  .nummer{
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
    color: white;
  }
  @media screen and (max-width: 980px) {
    .nummer {
      font-size: 2rem;
      text-align:  center;
      justify-content:  center;
      align-items: center;
    }
  }

  
  
  .text {
    color: white;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 980px) {
    .text {
      font-size: 0.8rem;
      text-align:  center;
    }
  }
  
  .link-text {
    margin: 0px;
    color: rgb(0, 255, 255);
  }
  
  .link-text:hover {
    margin: 0px;
    color: rgb(5, 219, 219);
    cursor: pointer;
  }

  
  
  .light-text {
    font-weight: 200;
    font-size: 1rem;
    color: rgb(221, 221, 221)
  }

  @media screen and (max-width: 980px) {
    .light-text {
      font-size: 0.8rem;
      text-align:  center;
    }
  }

  .h1 {
    text-align: center;
  }