.KontaktDiv {
  height: 100vh;
  display: flex;
  text-align: center;
}

.boxText1 {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 80%;
  text-align: center;
}

.boxText2 {
  width: 100%;
  text-align: left;

}

.boxtextcontainer {
  width: 20%;
  height: 80%;
}

.phoneLinkKontakt{
  color: black;
  font-size: 26px;
}

.form {
  border-radius: 0px;
  background-color: #f2f2f2;
  padding: 20px;

}
.input {
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
  padding:0px;
  height: 50px;
}

.label {
  margin-right: 10px;
}

.divForm {
  margin: 0px;
  height: 50px;
} 
