.KontaktDiv {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boxText1 {
  max-width: 500px;
}

.phoneLinkKontakt{
  color: black;
  font-size: 26px;
}
